body {
    background-color: #121212; /* anlayana.com'a benzer koyu arka plan */
    color: #fff; /* Beyaz yazı */
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Tüm ekranı kapla */
    text-align: center;
}

.container h1 {
    font-size: 4rem; /* Büyük ve dikkat çekici yazı */
    font-weight: 700; /* Kalın yazı */
    letter-spacing: 0.1em; /* Harfler arası boşluk */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Gölge efekti (isteğe bağlı) */
}
